body, button {
  font-family: 'Roboto';
}

h2 {
  font-size: 20px;
  margin: 28px 8px 20px;
}

.card {
  padding: 30px 20px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 4px 0px;
  margin-bottom: 16px;
}

.card-image {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 2px 2px 0 0;
  flex: 0 0 auto;
  height: 120px;
  margin: -30px -20px 24px;
  width: calc(100% + 40px);
}

.flock .card-content {
  display: flex;
  flex: 0 0 100%;
  justify-content: space-between;
}

.cell {
  text-align: center;
}

.cell .value {
  font-size: 24px;
  padding-bottom: 8px;
}

.cell .unit {
  font-size: 16px;
}

.affirmation {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  padding: 20px;
}

.affirmation .card-icon {
  font-size: 36px;
  margin-right: 24px;
}

.affirmation .card-content {
  flex: auto;
  width: auto;
}

.achievements {
  flex-wrap: wrap;
}

.achievements .card-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.achievements .cell {
  flex: 1 1 50%;
  margin: 0;
}

.progressbar {
  background-color: #f1f1f1;
  flex: 0 0 100%;
  margin-bottom: 16px;
  overflow: hidden;
}

.progressbar-fill {
  background-color: #26C6DA;
  height: 8px;
}

button {
  align-items: center;
  background-color: #26C6DA;
  border: 0;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 4px 0px;
  color: white;
  display: inline-flex;
  font-size: 14px;
  font-weight: 400;
  height: 36px;
  padding: 0px 16px;
  justify-content: center;
  text-transform: uppercase;
  -webkit-appearance: none;
}

.floating {
  border-radius: 50%;
  display: none;
  position: absolute;
  right: 12px;
  top: 54px;
  width: 36px;
}

#push-notification {
  position: absolute;
  padding: 10px;
  background-color: #333;
  color: #FFF;
  width: 100%;
  min-height: 40px;
}
