{% load static %}

<!DOCTYPE html>
<html>
    <head>
      <script src="https://www.gstatic.com/firebasejs/3.5.1/firebase-app.js"></script>
      <script src="{% static 'firebase-messaging.js' %}"></script>
      <script src="{% static 'user.js' %}" type="text/javascript"></script>
      <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet" />
      <link rel="manifest" href="{% static 'manifest.json' %}">
      <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>

        <div class="container text-center" style="padding: 30px;">
            <div class="row" style="padding: 30px;">
                <div class="col-xs-6 text-center">
                    <div>
                        Current
                    </div>
                    <div>
                        76
                    </div>
                </div>
                <div class="col-xs-6 text-center">
                    <div>
                        Goal
                    </div>
                    <div>
                        100
                    </div>
                </div>
            </div>
            <div class="row" style="padding: 30px;">
                <div class="col-xs-6">
                    <div style="border: 1px solid #ccc; padding: 20px 10px 20px 10px;">
                        <div style="font-size: 30px; padding-bottom: 20px;">10</div>
                        <div style="font-size: 12px;">Tons of C02 saved</div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div style="border: 1px solid #ccc; padding: 20px 10px 20px 10px;">
                        <div style="font-size: 30px; padding-bottom: 20px;">$10</div>
                        <div style="font-size: 12px;">Saved</div>
                    </div>
                </div>
            </div>
            <div class="row" style="padding: 30px;">
                <div class="col-xs-6">
                    <button class="btn btn-default">Donate</button>
                </div>
                <div class="col-xs-6">
                    <button class="btn btn-default">Share</button>
                </div>
            </div>
        </div>
    </body>
</html>
