<!DOCTYPE html>
<html>
<head>
<title>Covey</title>
<meta charset="utf-8">
<link rel="stylesheet" href="staticfiles/css/index.css">
<link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
</head>
<body>
<main>
  <section class="splash">
  <div class="section-inner">
    <h1 class="page-title">Covey</h1>
  </div>
  </section>
  <section class="mission">
  <div class="section-inner">
    <h2 class="section-title">Move together</h2>
    <p class="section-copy">Is there anything as inefficient as driving alone? Every vehicle on the road makes traffic and air pollution worse, but many times we choose to drive even when there are viable alternatives. What if we could change that habit, though? Air quality and global warming are too serious to ignore now, and the choice is ours—all we need is a little push. Covey provides that push, connecting people who are trying to use alternative transit methods to make a difference.</p>
    <ul class="transit">
      <li class="ion-android-walk"></li>
      <li class="ion-android-bicycle"></li>
      <li class="ion-android-subway"></li>
    </ul>
  </div>
  </section>
  <section class="rewards">
  <div class="section-inner">
    <h2 class="section-title">Get rewarded</h2>
    <p class="section-copy">Covey offers real financial and social incentives to get where you're going without getting into a personal car or truck. Our goal is to help people make the right choice today, so we offer rewards everyone can appreciate. Collaborating with others to take mass transit or ride bicycles offers even greater rewards, and the support and encouragement people can provide to one another is invaluable.</p>
    <ul class="table">
      <li class="row">Earn rewards every time you use a driving alternative</li>
      <li class="row">Multiply your rewards by hitting personal milestones</li>
      <li class="row">Participate in a Flock and boost your earnings</li>
      <li class="row">Unlock hidden incentives during special events</li>
    </ul>
  </div>
  </section>
  <section class="impact">
  <div class="section-inner">
    <h2 class="section-title">Make a lasting impact</h2>
    <p class="section-copy">Climate change is real and here to stay. Unless we make effective changes to our everyday habits, humanity will continue to have a devastating impact on the planet, and future generations will assume the cost. Our challenge today is to make widespread, permanent change that will have measurable effects. Covey is our contribution to that challenge.</p>
    <ul class="stats">
      <li class="card">
        <div class="card-value">10K</div>
        <div class="card-unit">Train Passengers<br>Today</div>
      </li>
      <li class="card">
        <div class="card-value">45K</div>
        <div class="card-unit">Miles Bicycled<br>This Week</div>
      </li>
      <li class="card">
        <div class="card-value">100K</div>
        <div class="card-unit">Tons CO2 Saved<br>This Year</div>
      </li>
    </ul>
  </div>
  </section>
</main>
</body>
</html>