<!DOCTYPE html>
<html>
    <head>
       <script src="https://www.gstatic.com/firebasejs/3.5.1/firebase-app.js"></script>
        <script src="/firebase-messaging.js"></script>
        <script
           src="https://code.jquery.com/jquery-3.1.1.min.js"
           integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
           crossorigin="anonymous"></script>
        <link href="/css/user.css" rel="stylesheet">
        <link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
        <link rel="manifest" href="/manifest.json">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script>
// Initialize Firebase
var config = {
  apiKey: "AIzaSyC4kx_wrJwyfeQPB1FfQDSy7d7RD0IkhUI",
  messagingSenderId: "190598361806"
};
firebase.initializeApp(config);

const messaging = firebase.messaging();

messaging.requestPermission()
  .then(function() {
    console.log('Notification permission granted.');

    messaging.getToken()
      .then(function(currentToken) {
        console.log(currentToken);
        //document.getElementById('push-notification').textContent = currentToken;
      })
      .catch(function(err) {
        console.log('An error occurred while retrieving token. ', err);
      });
  })
  .catch(function(err) {
    console.log('Unable to get permission to notify. ', err);
  });


      var showNotification = function(text){
var notification = document.getElementById('push-notification');
notification.textContent = text;
notification.classList.remove('hidden');
window.setTimeout(showNotification, 5000, false);
      }


messaging.onMessage(function(payload) {
  console.log("Message received. ", payload);
showNotification(payload.notification.title);
});
        </script>
    </head>
    <body>
      <div id="push-notification" class="push-notification hidden"></div>
        <div class="card profile">
          <div>
            <img src="/images/brandon.jpg" />
            <div>Brandon Birkholz</div>
          </div>
          <div>
            <div>
              <div class="tiny earnings-text">
                <div>Subsidy</div>
                <div>Balance</div>
              </div>
              <div class="earnings">$90</div>
            </div>
            <button class="redeem">Redeem</button>
            <div class="tiny visa-container">
              <div class="visa-text">powered by</div>
              <div class="visa"></div>
            </div>
            <div class="tiny">Total earnings: $124.24</div>
          </div>
        </div>
        <div class="card map">
          <div class="card-image" style="background-image: url('/images/map.png')"></div>
          <div class="card-content">
            <h2>San Francisco Station</h2>
            <span>0.4 mi</span>
          </div>
        </div>
        <a href="/flock" class="join action">Join the flock</button>
    </body>
</html>
