<!DOCTYPE html>
<html>
    <head>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>

        <div class="container text-center" style="padding: 30px;">
            <div class="row" style="padding: 30px;">
                <div class="col-xs-6 text-center">
                    <div>
                        Current
                    </div>
                    <div>
                        76
                    </div>
                </div>
                <div class="col-xs-6 text-center">
                    <div>
                        Goal
                    </div>
                    <div>
                        100
                    </div>
                </div>
            </div>
            <div class="row" style="padding: 30px;">
                <div class="col-xs-12">
                    <div>Join the flock now.</div>
                    <div>You could have saved $10!</div>
                </div>
            </div>
            <div class="row" style="padding: 30px;">
                <div class="col-xs-6">
                    <button class="btn btn-default">Donate</button>
                </div>
                <div class="col-xs-6">
                    <button class="btn btn-default">Join</button>
                </div>
            </div>
        </div>
    </body>
</html>
